
h1{
	color: teal;
	font-size: 30;
}

a.img1{
	display: block;
}
p{
	text-align: left;
}

h2{
	color: teal;
	font: 20; 
}

h3{
	color: teal;
	font-size: 30;
}

h4{
	color: teal;
}

a.navbar-brand{
	margin-right: 30px;

}
